.box--center {
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);

  .quote {
    margin: 0 auto;
    /* min: 2rem,  middle: 5vw, max: 5rem*/
    font-size: clamp(2rem, 5vw, 4rem);
    // font-size: clamp(1.5rem, 2.5vw, 1.5rem);
    letter-spacing: 1px;
    color: #fee;
    max-width: 600px;
    animation: neon 0.08s ease-in-out infinite alternate;
  }

  @keyframes neon {
    from {
      text-shadow: 0 0 6px rgba(255, 238, 238, 0.92), 0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(255, 86, 68, 0.52), 0 0 21px rgba(255, 86, 68, 0.92),
        0 0 34px rgba(255, 86, 68, 0.78), 0 0 54px rgba(255, 86, 68, 0.92);
    }
    to {
      text-shadow: 0 0 6px rgba(255, 238, 238, 0.98), 0 0 30px rgba(255, 238, 238, 0.42),
        0 0 12px rgba(255, 86, 68, 0.58), 0 0 22px rgba(255, 86, 68, 0.84),
        0 0 38px rgba(255, 86, 68, 0.88), 0 0 60px rgba(255, 86, 68, 1);
    }
  }

  ul {
    li {
      padding-bottom: 10px;
      list-style: square;
    }
  }
}
