.box--center {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);

  ul {
    li {
      padding-bottom: 10px;
      list-style: decimal;
    }
  }
}
