.random--number {
  width: 183px;
  height: auto;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  margin-top: 15px;
  padding: 10px;

  h3 {
    margin-bottom: 10px;
  }

  .random--div {
    display: flex;
  }
  div {
    margin: 7px 0;
  }

  input {
    margin-left: 5px;
    width: auto;
    width: 110px;
    padding: 1px 2px;
  }

  label {
    display: inline-block;
    width: 37px;
  }

  .result {
    padding: 2px;
    background-color: #ccccff;
  }
}
